[user]
	email = julien.garciagonzalez@lampiris.be
	name = Julien Garcia Gonzalez
	signingkey = EC1F03A67D05A111
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[core]
        editor = /usr/bin/emacs
        excludesfile = ~/.gitignore_global
[status]
	submodulesummary = true
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gitreview]
	remote = origin
	branch = develop
[url "git@github.com:"]
	insteadOf = https://github.com/
