[user]
	email = garciagonzalez.julien@gmail.com
	name = jgsqware
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[core]
        editor = /usr/bin/emacs
        excludesfile = ~/.gitignore_global
[status]
	submodulesummary = true
