# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

'.source.dockerfile':
  'Maintainer':
    'prefix': 'maintainer'
    'body': 'MAINTAINER Julien Garcia Gonzalez <jgonzalez@wemanity.com>'

'.source.dockerfile':
  'apt-get':
    'prefix': 'aptget'
    'body': 'RUN apt-get update && apt-get install -y \\\\ \n\t\t\t\t\t\t\t\t&& apt-get clean && \\\\ \n\t\t\t\t\t\t\t\trm -rf /var/lib/apt/lists/*'
